@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #222328;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.메인메뉴 {
  display: flex;
  align-items: center;
}
.메인메뉴 a {
  display: block;
  width: 200px;
  height: 40px;
}
.gnb .depth1 {
  display: flex;
}
.gnb .depth1 > li > a {
  display: block;
  height: 100px;
  padding: 0 50px;
  line-height: 100px;
  text-align: center;
}
.gnb .depth1 > li > a:hover {
  /* background: #a88b6f; */
  border-bottom: 3px solid #a88b6f;
}
.gnb .depth1:hover .depth2 {
  display: block;
}

/* nav depth2 */
.gnb .depth2 {
  display: none;
  padding: 20px 0;
  background: #ffffff;
}
.gnb .depth2 a {
  display: block;
  height: 60px;
  line-height: 60px;
  /* padding: 30px 0; */
  /* 패딩값을 넣든가 아니면 height를 넣어서 line-height를 넣든가 그렇게 해라. */
  text-align: center;
  background: #ffffff;
}
.gnb .depth2 > li > a:hover {
  border-bottom: 4px solid #a88b6f;
}
.slide a,
.slide img {
  display: block;
  /* height: 300px; */
}
.slide {
  overflow: hidden;
  height: 300px;
}
.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
/* tab */
.tabs-wrap {
  position: relative;
  display: flex;
  width: calc(100% / 2 - 230px);
}
.tabs-wrap .tab-item {
  width: 50%;
}
/* 비활성화 */
.tabs-wrap .tab-item .tit {
  height: 50px;
  padding-top: 14px;
  border-bottom: 2px solid #a88b6f;
  background: #ffffff;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
}
/* 활성화 tab */
.tabs-wrap .on .tit {
  background: #a88b6f;
  color: #ffffff;
}
.tabs-wrap .tab-item .cont {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  /* background: #ca7878; */
  height: 130px;
}
.tabs-wrap .on .cont {
  display: block;
}
.lst-bbs {
  padding-top: 10px;
}
.lst-bbs li {
  display: flex;
  align-items: center;
}
.lst-bbs li::before {
  content: "";
  margin-top: -2px;
  margin-right: 5px;
  width: 5px;
  height: 5px;
  background: red;
  display: inline-block;
}
.lst-bbs li a {
  display: block;
  line-height: 2;
  /* a태그는 인라인 태그라 line-height가 먹히지 않는다. 이럴 때에는 block으로 바꿔주고 조절해본다. 그리고 line-height의 경우에는 2px 이런 식으로 하면 진짜 두칸 내려가는 거라 1.5 or 2 배수 단위로 넣어준다. line-height는 행간이다.*/
}
.lst-bbs li a:hover {
  text-decoration: underline;
}
.lst-gallery {
  display: flex;
  justify-content: space-between;
}
.lst-gallery li {
  padding: 5px 0;
  width: 100px;
}
.lst-gallery li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bnr {
  width: 400px;
}
.goto {
  width: 365px;
}
.bnr a,
.bnr img {
  display: block;
}

.goto {
  width: calc(100% / 2 - 230px);
}
.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}

.goto li {
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: #000;
}
.goto a {
  display: block;
  height: 100%;
  background: #7e4d4d;
}

.footer {
  border-top: 1px solid #d7d7d7;
  height: 100px;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-foot a {
  display: flex;
  height: 100px;
  align-items: center;
}
.sns .lst-sns {
  display: flex;
}
.lst-sns li {
  margin-left: 20px;
}
.lst-sns a {
  display: flex;
  height: 100px;
  align-items: center;
}
